
*{
    background-color:#eedfc2;
}

h1{
    background-color: #40e08b;
    text-align:center;
    border-radius:25px;
    margin:50px 200px;
    padding: 15px;
    font-size: 40px;
}
.unitc{
      background-color: #c5dc89;
      border-radius: 70px;
}
.button{   
    text-align: center;
    cursor: pointer;
    border-radius:10%;
}
h2{
    background-color: #20c361cb;
    font-size: 30px;
    margin-left:330px;
    width:450px;
    border-radius:8px;
    text-align: center;
}
.unit{
  display:flex;
    margin:0 90px ;
    background-color: #c5dc89;
    gap: 70px;
    height:240px;
}

.left{
    display:flex;
    flex-direction: column;
    flex:1;
    border:solid 3px black;
    border-radius: 15px;
    height:220px;
}
.right{
    display:flex;
    flex-direction: column;
    gap: 10px;
    flex:2;
    height:230px;
}

h3{
    background-color: #0abc5dcb;
    margin:5px 10px;
    border-radius:5px;
    padding: 5px;
    border:1px solid black;
} h3:hover {
        background-color: #32a852; 
        color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
        transform: scale(0.98);
        transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3;
    }

.box{ 
    height:250px;
    border:solid black 2px;
    border-radius:15px;
    background-color: rgb(26, 187, 157);
    display:flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    display:none;
}    
.from ,.to{
    flex:1;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #1abb9d;
    border-radius: 15px;
    height:220px;
}
h4{
    position: absolute;
    top: -30px;
    border:solid black ;
    border-radius: 5px;
    width:50px;
}

.input{
    width: 250px;
    height: 45px;
    border:double black;
    border-radius: 5px;
} input:focus{
    border-color: #40e08b; 
    box-shadow: 0px 0px 5px rgba(64, 224, 139, 0.5); 
    transition: box-shadow 0.3s ease;
    outline: none; 
}
.dropdown {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 7px 2px 7px 7px;
    width: 300px;
    height: 220px;
    overflow-y:scroll;
}

.thelist {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.thelist li {
    font-size: 14px;
    padding: 4px;
    border-bottom: 1px solid #ddd;
}

.thelist li:hover {
    background-color: #40e08b;
    color: black;
    transition: background-color 0.2s ease-in-out;
}

.active {
    display: flex !important;
}
.pressed{
    background-color: #16ab8f;
    transform: scale(0.98);
    box-shadow:inset 2px 2px 5px rgba(0, 0, 0, 0.3); 
    transition: transform 0.1s, box-shadow 0.1s;    
}